/* GLOBAL RESETS */
* { box-sizing: border-box; }

// VARIABLES
$color-text-body: rgba(0,0,0,.8);
$color-text-headings: rgba(0,0,0,1);
$color-accent: #323e48;
$color-accent-light: #5b6670;

$color-lightgrey: rgba(0,0,0,.5);

$font-family-sans: Helvetica, Arial, sans-serif;
$font-family-serif: Baskerville, 'Times New Roman', serif;

// IMPORTS
@import "partials/toc";
@import "partials/typography";
@import "partials/buttons";

