/* GLOBAL RESETS */
* { box-sizing: border-box; }

// VARIABLES
$color-text-body: rgba(0,0,0,.8);
$color-text-headings: rgba(0,0,0,1);
$color-accent: #323e48;
$color-accent-light: #5b6670;

$color-lightgrey: rgba(0,0,0,.5);

$font-family-headers: 'Poppins', sans-serif;
$font-family-sans:  'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-family-serif: Baskerville, 'Times New Roman', serif;

//BREAKPOINTS
$breakpoint-small: 768px;
$breakpoint-medium: 1058px;
$breakpoint-large: 1250px;

// IMPORTS
@import "partials/toc";
@import "partials/typography";
@import "partials/buttons";
@import "partials/media";
@import "partials/layout";
@import "partials/grid";