/* BUTTONS */
.button {
    display: inline-block;
    background-color: $color-accent;
    color: #ffffff;
    text-decoration: none;
    padding: 1em;
    border-radius: 5px;

    &:hover {
        background-color: $color-accent-light;
    }
}

